<h1>Add a new cizizenship to Places <---> User</h1>

<%= simple_form_for [@user, @citizenship] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit "Create dose", class: "btn btn-primary" %>
<% end %>
