<div class="container-user-info">
  <div class="img-us">
  <%= cl_image_tag @user.photo.key, class: "user-img", height: 100, width: 100, crop: :fill if @user.photo.attached? %>
  </div>
<h1> User info</h1>
  <div class="text-user-info">
    <div>
      Name : <%= @user.name %>
    </div>
    <div>
    Money : <%= @user.money %>
    </div>
    <div>
      Company : <%= @user.compagny %>
    </div>
    <div>
      Bio : <%= @user.bio %>
    </div>
    <div>
    email : <%= @user.email %>
    </div>
  </div>
      <div class="btn-edit-user-info">
        <% if policy(@user).edit? %>
          <%= link_to "Edit User Info", edit_user_path(current_user.id), class: "btn" %>
        <% end %>
      </div>
</div>

<div class="container-place-citizen">
  <div class="user-places">
    <h1 class="text-left mb-5">Places created by user</h1>
      <% @user.places.each do |place| %>
        <div class= "card-user-places">
          <%= cl_image_tag place.thumbnail.key, height: 200, width: 300, crop: :fill if place.thumbnail.attached? %>

          <div class="pl-3">
            <p><%= link_to place.name, place_path(place.id) %></p>
            <% if @user == current_user %>
              <p><%= link_to "Edit this place", edit_place_path(place.id) %></p>
              <p><%= link_to "Delete this place ðŸ—‘ï¸",
                place_path(place.id),
                method: :delete,
                data: { confirm: "Are you sure?" } %></p>
            <% end %>
          </div>
        </div>
      <% end %>

    <div class="pt-5">
      <% if @user == current_user %>
      <p><%= link_to "Add a new place", new_place_path, class: "btn"%></p>
    <% end %>
    </div>
  </div>


  <div class="user-citizenships">
    <h2 class="text-left mb-5">Citizenships of user</h2>
    <ul>
      <% @user.citizenships.each do |citizenship| %>
        <li><%= citizenship.user.name %> - <%= citizenship.place.name %>
      <%= link_to "ðŸ—‘ï¸",
          place_citizenship_path(citizenship.place,citizenship),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Go back', places_path, class: "btn" %>
  </div>
</div>

