<h1><%= @place.name %></h1>
<p><%= @place.description %></p>

<%= cl_image_tag @place.thumbnail.key, height: 300, width: 400, crop: :fill if @place.thumbnail.attached? %>
<% if @place.photos.attached? %>
<% @place.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>
<%= link_to "Home", places_path %> | <%= link_to "Request citizenship",
 place_citizenships_path(@place),
  method: :post,
  data: { confirm: "Request citizenship?"
   } %>
| <%= link_to "See this place's submitter", user_path(@place.user.id) %>

