<div class="container-big">
<div class="container-user-show">


<h1 class="show-header"><%= @place.name %></h1>

<div class="info-just-under-name">
<p> <%= "Reputation: " + @place.reputation if @place.reputation.present? %> <%= " | " + "Located in " + @place.continent if @place.continent.present? %> </p>
</div>


<div class="images-flexbox">
<%= cl_image_tag @place.thumbnail.key, height: 550, width: 500, crop: :fill, class: "class-truc"  if @place.thumbnail.attached? %>
<div class="square-photos">
<% if @place.photos.attached? %>
<% @place.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 270, width: 250, crop: :fill %>
  <% end %>
<% end %>
</div>
</div>


<div class="info-general">

  <div>

    <div class="person-who-made-the-place">
      <h2 class="header-h2">Tax Heaven hosted by <%= link_to @place.user.name, profile_path(@place.user.id) %> </h2>
      <%= cl_image_tag @place.user.photo.key, height: 60, width: 60, crop: :fill if @place.user.photo.attached? %>
    </div>

    <p class="info-about-place">  <%= "Tax: " + @place.tax + "%" if @place.tax.present? %> <%= " | Tax Control Frequency: " + @place.control if @place.control.present? %>  <%= " | Current Regime: " + @place.regime if @place.regime.present? %></p>
    <p class="description-place"><%= @place.description %></p>

  <% if policy(Review.new(user: current_user, place: @place)).create? %>
    <div class="row justify-content-center">
      <div class="add-review col-6">
        <h3 class="margin-needed">Review this Country</h3>
        <%= simple_form_for [@place, @review] do |f| %>
          <%= f.input :content, require: true, wrapper_html: {class: "review-input"} %>
          <%= f.input :rating, as: :select, collection: 1..5, require: true, wrapper_html: {class: "review-input"} %>
          <%= f.submit%>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2> <%  "Reviews:" if @place.reviews.present? %> </h2>
  <div class="justify-content-left">
    <% @place.reviews.each do |review| %>
      <div class="card-review">
        <% if !current_user.photo.attached?  %>
          <%= image_tag "https://tse4.mm.bing.net/th?id=OIP.TneqgKQBUNi__W7XKshWlAHaHa&pid=Api", class: " dropdown-toggle avatar-comment", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag  current_user.photo.key, class: " dropdown-toggle avatar-comment", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="content-review">
          <strong><%= review.user.name %></strong><br>
          <%= review.content %>
          <% stars = ""%>
          <% review.rating.times do  %>
            <% stars += "⭐️" %>
          <% end %>
          <%= stars %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div class="pt-3">

    <div class="request-citizenship-box">
      <p class="min-income-header">Mininum Income Required:</p>
      <p class="min-income-itself">$<%= @place.min_income  %></p>
        <%= link_to "Request Citizenship",
       quizz_path(@place), class: "btn-primary request-citizenship-button"  %>
    </div>
  </div>
</div>


</div>
</div>
